    
@media only screen and (max-width: 600px) {
    .homePageWrapper{
        display: flex;
        flex-direction: column;
        position: absolute;
        max-width: 100vw;
        height: fit-content;
   

        .landingPage{
            position: relative;
            
            .header{
                position: fixed;
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 100vw;
                background-color: #000;
                box-shadow: 0px 0px 30px #D54646;
                height: 100px;
                z-index: 10;

                .hTittle{
                    position: absolute;
                    left: 3%;

                    span{
                        color: #AD1717;
                        font-weight: 800;
                        font-size: 18;
                    }
                }
                .socials{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 4%;

                    .links{
                        display: flex;
                        justify-items: space-between;
                        align-items: center;

                        a{
                            box-shadow: 0px 0px 20px #FFFCFC;
                            margin: 5px;

                            img{
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                            }

                        }
                    }
                    .phone{
                        span{
                            font-weight: bold;
                            color: #ffffff;
                        }
                    }
                }
            }

            .body{

                .canva{
                    position: relative;
                    width: 100vw;
                    height: calc(100vh - 100px);
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .right{
                        position: absolute;
                        right: 0px;
                        width: 50vw;
                        height: inherit;
                        background-color: #D9D9D9;
                    }

                    img{
                        width: 80%;
                        position: absolute;
                        top: 40%;
                        transform: rotateZ(90deg);
                        z-index: 2;
                        object-fit: cover;
                        box-shadow: 0px 0px 20px #D92727;
                    }

                    .text{
                        z-index: 2;
                        width: 70%;
                        text-align: center;
                        position: absolute;
                        align-self: center;
                        top: 20%;
                        font-size: 36px;
                        font-weight: 800;

                        span{
                            margin: 10px;
                            color: #ffffff;
                        }

                        span:nth-child(2){
                            color: #030303;
                        }
                    }

                    .buttons{
                        position: absolute;
                        top: 78%;
                        height: 20%;
                        width: 75%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        border-radius: 30px;
                        border: solid 2px #DD5C5C;

                        span{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;
                            font-weight: 600;
                            font-size: 15px;
                            margin: 10px;
                            height: 25%;
                            padding: 1%;
                            width: 100px;
                            background-color: #D9D9D9;
                        }
                        span:nth-child(2), span:nth-child(4){
                            background-color: #040404;
                            color: #D9D9D9;
                        }
                    }
                }
                .pageTwo{
                    height: calc(100vh - 100px);
                    width: 100vw;
                    background-color: #D9D9D9;

                    .topHalf{
                        margin-top: 0px;
                        height: 50%;
                        width: 100%;
                        h2{ text-align: center;}

                        img{
                            width: 100vw;
                            margin-top: 20px;
                            border-radius: 20px;
                        }
                    }
                    .about{
                        background-color: #000;
                        height: 50%;
                        width: 100%;
                        color: #DBB1B1;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        border-radius: 30px;

                        p{
                            color: #DBB1B1;
                            margin: 0px 20px;
                        }

                        a{
                            width: 50%;
                            height: 50px;
                            background-color: #7B6060;
                            color: #ffffff;
                            border-radius: 10px;
                            font-size: 18px;
                            display: flex;
                            font-weight: 600;
                            text-decoration: none;
                            justify-content: center;
                            align-items: center;

                        }
                    }
                }
                .pageThree{
                    height: calc(100vh - 100px);
                    margin-top: 10%;
                    width: 100vw;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    .categories{
                        height: 60%;
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        span{
                            width: 120px;
                            height: 50px;
                            margin: 20px;
                            background-color: #D9D9D9;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 0px 10px black;
                        }
                    }

                    .desc{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        
                        p{
                            margin: 20px;
                            line-height: 30px;
                            letter-spacing: 2px;
                        }

                        .links{
                            display: flex;
                            width: 80%;
                            justify-content: center;
                            align-items: center;

                            a{
                                width: 150px;
                                height: 40px;
                                margin: 10px;
                                border-radius: 10px;
                                text-decoration: none;
                                font-size: 18px;
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: black;
                                background-color: #B41111;
                            }
                        }
                    }
                }
                .pageFour{
                    height: calc(100vh - 100px);
                    margin-top: 10%;
                    width: 100vw;
                    text-align: center;

                    .links{
                        margin-top: 10%;
                        display: flex;
                        width: 100%;
                        justify-content: space-evenly;
                        align-self: center;
                        align-items: center;


                        a{

                            img{
                                height: 80px;
                                width: 80px;
                            }
                        }
                    }
                    .phone{
                        display: flex;
                        margin-bottom: 40px;
                        margin-top: 10%;
                        height: 35px;
                        width: 50%;
                        background-color: #D9D9D9;
                        margin-left: 20%;
                        position: relative;
                        border-radius: 15px;

                        img{
                            padding: 5px;
                        }
                        p{
                            position: absolute;
                            top: -10px;
                            font-size: 18px;
                            font-weight: 600;
                            right: 10%;
                        }
                    }
                    .footer{
                        display: flex;
                        margin-top: 20px;
                        height: 30%;
                        background-color: #D9D9D9;

                        span{
                            width: 50%;
                            height: 70%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            img{
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}